<% include ./partials/header %>

<h1>INDEX PAGE</h1>

<% blogs.forEach(function(blog){ %>
    <div>
        <h2><%= blog.title %></h2>
        <img src="<%= blog.image %>" alt="">
        <div><%= blog.created %></div>
        <p><%= blog.body %></p>
    </div>
<% }) %>

<% include ./partials/footer %>